fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
youtube-comment-downloader
langchain==0.3.17
langchain-huggingface
langchain-experimental==0.3.0
pymysql
sqlalchemy
langchain-community==0.3.16
langchain-text-splitters
ollama
langchain-groq==0.2.4
pandas
chromadb