fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
youtube-comment-downloader
langchain-huggingface
langchain-chroma
langchain-experimental
pymysql
sqlalchemymunity
faiss-cpu
sentence-transformers
langchain-text-splitters
ollama
langchain-groq